* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFEB3B;
    color: #1C1C1C;
    line-height: 1.6;
}
body p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.15px;
    font-weight: bold;
}
body nav ul li a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-color: #1C1C1C; /* Dark background */
    color: #ffeb3b;
    padding: 20px 10px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: transform 0.2s ease-in-out;
}

header .logotitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    transition: flex direcrion 0.2s ease-in-out;
}

header .h1title{
    transition: margin-bottom 0.2s ease-in-out;
}

header .h1title h1 a{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #FFEB3B;
    font-size: 42px;

}

.tagline {
    padding-bottom: 22px;
    will-change: transform;
    transition: transform 0.3s ease-in-out;
    font-size: 22px ;
}
header.scrolled {
    transform: translateY(-20px);
    margin-bottom: -5px;
    .h1title {
        margin-bottom: -30px;
    }
    .tagline{
        display: flex;
        justify-content: center;
        transform: translate(105px,-22px);
    }
    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Space between links */
    padding-bottom: 20px;
}

nav .navbar ul li {
    display: inline-block;
}

nav .navbar ul li a {
    color: #FFEB3B;
    border-radius: 5px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: color 0.3s ease;
    transition: padding 0.2s ease-in-out;
}

nav .navbar ul li a:hover {
    color:#1C1C1C; /* Highlight color on hover */
    background-color: #ffeb3b;
    box-shadow: 0 0 0 1px #FFEB3B;
    padding: 5px;
}

nav .navbar ul li #nlink{
    color:#1C1C1C; /* Highlight color on hover */
    background-color: #ffeb3b;
    box-shadow: 0 0 0 1px #FFEB3B;
    padding: 5px;
}

nav .odroln {
    list-style: none;
    display: flex;
    margin-left: 15px;
    margin-top: -17px ;

}
.odroln1 {
    display: inline-block;
}
.odroln a {
    color: #FFEB3B;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 5px;
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: 0 0 0 2px #FFEB3B;
    transition: color 0.3s ease;
}
.odroln:hover a {
    background-color: #FFEB3B;
    color: #1c1c1c;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #1c1c1c;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu{
    text-align: center;
    margin: 40px;
}
.menu-header {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    background-color: #FFEB3B;
    color: #1C1C1C;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    z-index: 2;
}
.menu-p {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    width: 40%;
}

.section {
    opacity: 0;
    transform: translateY(50px); /* Start each section slightly down */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
    visibility: hidden;
    margin: 0; /* Reset margins */
    padding: 0; /* Reset padding */
}

.section.hidden {
    display: none;
    transform: translateY(50px);
    margin: 0;     /* Ensures no residual margins are applied */
    padding: 0;    /* Resets padding */
    height: 0;     /* Prevents any height from being applied */
}

.section.active {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Move active section to the top */
}

.section-links ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.section-links a {
    display: inline-block;
    font-size: 16px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;

    padding: 5px 20px 5px;
    letter-spacing: 1.5px;
    text-decoration: none; 
    font-weight: bold;
    box-shadow: 0 0 0 3px #1C1C1C;
    color: #1C1C1C;
    transition: color 0.3 ease-in-out;
}
.section-links a:hover,
.section-links a.active-link{
    background-color: #1C1C1C;
    color: #FFEB3B;
}


#menu-intro, #dine-intro, #catering-intro{
    text-align: center;
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.0;
}

#section1 h3, #section2 h3, #section3 h3, #section4 h3{
    font-size: 36px;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
    margin: 10px 0px 0px;
}
#section1 h4, #section2 h4, #section3 h4, #section4 h4{
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
}
#section1 p, #section2 p, #section3 p, #section4 p{
    font-size: 16px;
    padding-bottom: 10px;
}

#section4 h2{
    font-size: 36px;
    margin-top: -25px;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}


#section1 a, #section4 a {
    display: inline-block;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    text-decoration: none; 
    text-transform: uppercase;
    font-weight: bold;
    color: #1C1C1C;
    background-color: #FFEB3B;
    box-shadow: 0 0 0 2px #1C1C1C;
}
#section1 a:hover, #section4 a:hover{
    color: #FFEB3B;
    background-color: #1c1c1c;
}

#mn, #sp, #ct{
    display: flex;
    flex: 1;
    text-align: left;
    width: 75%;
    margin: 50px auto 50px;

}

#mn1, #sp1, #ct1 {
    margin-right: 5%;

}
#mn2, #sp2, #ct2 {
    margin-left: 5%;

}

#mn1-1, #mn1-2 ,#mn1-3, #mn2-1, #mn2-2, #mn2-3, #mn2-4, #mn2-5 {
    border-bottom: 2px solid #1C1C1C;
    margin-bottom: 10px;
}
#mn2-6, #mn1-4{
    margin-bottom: 10px;
}

#sp1-1, #sp2-1, #sp2-2, #sp2-3 {
    border-bottom: 2px solid #1C1C1C;
    margin-bottom: 10px;
}

#lhh, #lhh2 {
    border-bottom: 2px solid #1C1C1C;
    margin-bottom: 10px;
    width: 50%;
    text-align: left;
    margin: auto;
}
#lhh3{
    margin-bottom: 10px;
    width: 50%;
    text-align: left;
    margin: auto;
}

#section4 #ct1-1, #section4 #ct2-1, #section4 #ct2-2, #section4 #ct2-3, #section4 #ct2-4, #section4 #ct2-5{
    border-bottom: 2px solid #1C1C1C;
    margin-bottom: 10px;
}

#section4 #ct2-6, #section4 #ct1-2{
    margin-bottom: 10px;
}


#about {
    display: flex;
    margin: 20px 0px 0px;
    justify-content: space-between;
    text-align: center;
    background-color: #1c1c1c;
    color: #FFEB3B;
    padding: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-links a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 50%;
    text-decoration: none; 
    font-weight: bold;
    width: 25px;
    height: 25px;
    background-color: #FFEB3B;
    box-shadow: 0 0 0 2px #FFEB3B;
    color: #1c1c1c;
}

.infolinks nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.infolinks nav ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Space between links */
    padding-bottom: 20px;
}

.infolinks nav ul li {
    display: inline-block;
}

.infolinks nav ul li a {
    color: #FFEB3B;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    transition: padding 0.2s ease-in-out;
}

.infolinks nav ul li a:hover {
    color:#1C1C1C; /* Highlight color on hover */
    background-color: #FFEB3B;
    box-shadow: 0 0 0 1px #FFEB3B;
    padding: 5px;
}

.info6 {
    box-shadow: 0 0 0 2px #FFEB3B;
    padding: 5px;
}
footer {
    background-color: #1c1c1c;
    color: #FFEB3B;
    text-align: center;
    padding-top: 20px;

}

footer p {
    font-size: 14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.15px;
    font-weight: bold;
}
